<div Class="md:px-14 p-4 max-w-s mx-auto space-y-10" id='about'>
  <div Class='flex flex-col md:flex-row justify-between items-center gap-8'>

    <div Class='md:w-1/2'>
          <img src={{aboutImage1}} alt="" />
      </div>

      <div Class='md:w-2/5'>
          <h2 Class='md:text-5xl text-3xl font-bold text-primary mb-5 leading-normal'>We have been improving our product <span Class='text-secondary'>for many years.</span></h2>
          <p Class='text-tartiary text-lg mb-7'>A good example of a paragraph contains a topic conclusion. There are many different
              kinds of animals that live in China.</p>
          <button Class='btnPrimary'>Get Started</button>
      </div>

  </div>


  <div Class='flex flex-col md:flex-row-reverse justify-between items-center gap-8'>
      <div Class='md:w-1/2'>
          <img src={{bannerbg}} alt="" />
      </div>

      <div Class='md:w-2/5'>
          <h2 Class='md:text-5xl text-3xl font-bold text-primary mb-5 leading-normal'>You can practice any <span Class='text-secondary'>time convinent for you.</span></h2>
          <p Class='text-tartiary text-lg mb-7'>A good example of a paragraph contains a topic conclusion. There are many different
              kinds of animals that live in China.</p>
          <button Class='btnPrimary'>Get Started</button>
      </div>

  </div>
</div>
