<div Class='gradientBg rounded-xl rounded-br-[80px] md:p-9 px-4 py-9'>
  <div Class='flex flex-col md:flex-row-reverse
  justify-between items-center gap-10'>
  <div>
          <img src={{bannerbg}} alt="" Class='lg:h-[386px] '/>
      </div>
      <div
      Class="md:w-3/5 ">
          <h2 Class='md:text-7xl text-4xl font-bold
          text-white mb-6 leading-relaxed'>{{heading}}</h2>
          <p Class='text-[#EBEBEB] text-2xl mb-8 '>{{subheading}}</p>
          <div Class='space-x-5 space-y-4'>
              <button Class='btnPrimary'>{{btn1}}</button>
              <button Class='btnPrimary'>{{btn2}}</button>
          </div>
      </div>

  </div>
</div>
